* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 10px;
}

.table {
  margin-top: 20px;
}

.menu {
  position: absolute;
  top: 10px;
  left: 10px;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  height: 200px;
  animation-name: menu;
  animation-duration: .5s;
  animation-timing-function: linear;
}

@keyframes menu {
  0% {
    margin-left: -100%;
  }

  100% {
    margin-left: 0;
  }
}